node_modules
config/default.json
/frontend/node_modules
/frontend/build
/.history
/backend/clazzbuddyservice-master/logs
/backend/clazzbuddyservice-master/.metadata
/frontend/.history
node_modules/
target/
