/** Speech bubble */

.feed-comment {
  position: relative;
  font-family: arial;
  font-size: 1.1em;
  background: #fff;
  color: #fff;
  border-radius: 1rem;
  margin: 0.5rem 0;
  background: var(--main-body-bg-color);
}
.comment-author {
  display: inline-block;
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 0.5em;
  overflow: hidden;
  vertical-align: middle;
  &-title {
    //font-weight: 500;
    color: var(--color-primary-text);
    line-height: 1.5;
    &:hover {
      text-decoration: underline;
    }
  }
  &-time {
    font-size: 8px;
    color: var(--font-color-3);
  }
}
.comment-title {
  font-weight: 500;
  color: var(--color-primary-text);
  line-height: 1.5;
  &:hover {
    text-decoration: underline;
  }
}

.comment-form {
  border: none;
  margin: 0.53rem 0;
  .comment-item {
    border: 1px solid grey;
    background-origin: padding-box;
  }
  .comment-rounded-textarea {
    border-radius: 1.5rem;
    background: #eff1f3;
    border: none;
    line-height: 1rem;
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
  }
  .reply-btn {
    margin-top: 0.3rem;
    float: right;
    padding: 0 1rem;
  }
}
