@import '../../styles/abstracts/mixins';
@import '../../styles/abstracts/variables';

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}
.infinite-scroll-wrapper {
  flex: 1 1 auto;
  .content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
  }
}
