.sidebar {
  max-width: 240px;
  height: 100vh;
  background-color: #f7f7f7;
  background: linear-gradient(45deg, #e47b49 0%, #ea4c89 100%);
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-content {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 100%;
    }
    &-expand-arrow {
      font-size: 1.2rem !important;
      &-expanded {
        color: #09bb12;
        font-weight: bold;
      }
    }
    &-icon {
      margin-right: 6px;
    }
    &-text {
      width: 100%;
      label {
        margin-left: 0.2rem;
      }
    }
  }
}
