@import '../../styles/abstracts/variables';

.leftnav-sidebar {
  /*  background-color: #f7f7f7; */
  //background-color: var(--bg-leftnav-sidebar);

  //background-color: #f4f5f7;
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
      color: var(--bg-gradient1);
      font-size: 12px;
      font-weight: 600;
      padding: 3px 0;
      width: 100%;
      a {
        margin-left: 0.5rem;
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
        text-decoration: none;
        color: var(--font-color-3);
        display: block;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: normal;
        &:hover {
          color: var(--font-color-2);
        }
      }
    }
    &-content {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 100%;
    }
    &-expand-arrow {
      font-size: 1.2rem !important;
      &-expanded {
        color: #09bb12;
        font-weight: bold;
      }
    }
    &-icon {
      margin-right: 6px;
      margin-top: 0.5rem;
      float: left;
    }
  }
}
