/** Speech bubble */

.feed-comment {
  position: relative;
  font-family: arial;
  font-size: 1.1em;
  background: #fff;
  color: #fff;
  border-radius: 40px;
  max-width: 400px;
  margin: 10px;
  padding: 10px !important;
  background: var(--main-body-bg-color);
  .description {
    margin-left: 32px;
    font-size: 12px;
    line-height: normal;
  }
}
.comment-author {
  display: inline-block;
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 8px;
  overflow: hidden;
  vertical-align: middle;
  &-title {
    //font-weight: 500;
    color: var(--color-primary-text);
    line-height: 1.5;
    &:hover {
      text-decoration: underline;
    }
  }
  &-time {
    font-size: 8px;
    color: var(--font-color-3);
  }
}
.comment-title {
  font-weight: 500;
  color: var(--color-primary-text);
  line-height: 1.5;
  &:hover {
    text-decoration: underline;
  }
}

.comment-form {
  height: 70px;
  margin-bottom: 20px;
  .comment-item {
    border: 1px solid grey;
    background-origin: padding-box;
  }
  .comment-text {
    height: 35px;
    padding: 8px;
    overflow: hidden;
  }
  .reply-btn {
    margin-top: 5px;
    float: right;
  }
}
