@import '../../styles/abstracts/mixins';
@import '../../styles/abstracts/variables';

.new-post {
  margin-left: 10px;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}
