@import '../../styles/abstracts/mixins';
@import '../../styles/abstracts/variables';

.ant-list-item {
  font-size: 0.8em !important;
}
.filter-actions {
  cursor: pointer;
  .filter-icon {
    color: var(--bg-gradient1);
  }
  .filter-label {
    color: #909090;
    font-weight: bold;
    margin-left: 4px;
  }
}

.filter-panel {
  background: var(--bg-filter-panel);
  min-height: 100px;
  margin-top: 8px;
  font-size: -8em;
}

.post-container {
  @include respond(tab-land) {
    font-size: 56.25%;
    width: 600px;
  }
  @include respond(phone) {
    width: 200px;
  }

  background-color: white;
  /*   border: 0.5px #dfe1e4 solid;
 */
  border-radius: 3px;
  margin-bottom: 8px;
  margin-left: 20px;
  .ui.segment {
    //min-height: 400px;
    box-shadow: none;
    border: none;
  }
}
.new-post {
  margin-left: 10px;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.feed-container {
  .feed-wrapper {
    width: 100%;
  }
}
