@import '../../styles/abstracts/variables';

.hideOnMobile {
  display: none !important;
}
@media only screen and (min-width: 768px) {
  .hideOnMobile {
    display: block !important;
  }
}

.displayOnDesktop {
  display: block !important;
}

.displayOnMobile {
  display: block !important;
}
.barsMenu {
  background: var(--bg-primary-btn) !important;
  border: var(--bg-primary-btn) !important;
  top: 1rem;
  left: 0.625rem;
  &:focus,
  &:hover {
    background: (--bg-gradient1) !important;
  }
}
@media only screen and (min-width: 768px) {
  .hideOnDesktop {
    display: none !important;
  }
}
.leftnav-sidebar {
  .ant-menu-vertical {
    border-right: none;
    .ant-menu-item {
      border-bottom: 0.8px solid #f0f0f0 !important;
    }

    .ant-menu-item-selected {
      background: none !important;
      border-left: 2px solid var(--color-active-tab-border) !important;

      color: #444;
      font-weight: 500;
    }
    .ant-menu-item-active {
      color: var(--bg-gradient1);
      font-weight: 500;
    }
    .ant-menu-item-selected .ant-menu-item-active {
      background: none !important;
      border-left: 2px solid var(--color-active-tab-border) !important;

      color: #444;
      font-weight: 500;
    }
  }

  .MuiListItem-root.Mui-selected,
  .MuiListItem-root.Mui-selected:hover {
    background: none !important;

    border-left: 1.5px solid var(--color-active-tab-border);
    width: 150px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
      color: var(--bg-gradient1);
      font-size: 12px;
      font-weight: 600;
      padding: 3px 0;
      padding-right: 10px;

      a {
        margin-left: 0.5rem;
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
        text-decoration: none;
        color: var(--font-color-3);
        display: block;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: normal;
        &:hover {
          color: var(--font-color-2);
        }
      }
    }
    &-content {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
    &-expand-arrow {
      font-size: 1.2rem !important;
      &-expanded {
        color: #09bb12;
        font-weight: bold;
      }
    }
    &-icon {
      margin-right: 6px;
      margin-top: 0.5rem;
      float: left;
    }
  }
}
