.post-field {
  position: relative;
  border-bottom: 1px solid #dfe1e4;
  width: 100%;
  padding: 12px 16px;
  margin: 0 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &-text-input {
    outline: none;
    border: 0;
    padding: 16px 8px;
    width: 80%;
  }
  &-textarea {
    resize: none;
    height: 120px;
    width: 80%;
    padding: 16px 8px;
  }
}
