.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  .avatar-container {
    display: inline-block;
    .avatar-img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      display: inline-block;
      border-radius: 6px;
      border: 1px solid rgba(0, 0, 0, 0.18);
    }
    .author-name {
      color: #676e7a !important;
      margin-left: 10px;
      line-height: 24px;
    }
  }
  &.comment-count {
    background: var(--light-color);
    color: var(--primary-color);
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
  }
  .post-date {
    color: #aaa;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  > div:first-child {
    text-align: center;
  }
}

.post > div:first-child {
  text-align: center;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
