@import '../../styles/abstracts/variables';

.icon-group {
  color: var(--bg-gradient1);
  padding: 0.5rem;
}
.ant-list-header {
  padding: 0 1.6rem !important;
  border: none !important;
  color: #767676;
  font-size: 0.875rem;
  padding: 0.1rem 1.6rem;
  background: transparent;
}
.create-btn-wrapper {
  margin: 3rem 2rem 0 0;
  text-align: right;
}
