@import '../../styles/abstracts/variables';
.content-container {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.user-card-list {
  background: #fff;
  border-top: 1px solid #f0f0f0 !important;
}
.user-card-member-title {
  background: #fff;
  padding: 1.3rem !important;
}
.group-card {
  .ant-card-head {
    border: 1px solid #f0f0f0;
  }
  .ant-card-body {
    padding: 0 !important;
  }
}
.ant-list-items {
  height: 100%;
}
.group-card-member-privacy {
  color: var(--color-secondary-text) !important;
}
.group-card-status {
  margin-left: 3rem !important;
  margin-top: 1rem !important;
  .btn-primary {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
}
.group-card {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
}
.discover-group-card,
.group-card {
  margin-bottom: 1rem;
  margin-top: 1rem;
  .ant-card-meta-avatar {
    padding-right: 0.6rem;
  }
  .no-padding {
    padding: 0;
  }
  .ant-card-body {
    padding: 1.2rem;
  }
  .group-card-details {
    display: flex;
    margin-left: 2rem;
    margin-bottom: 0.2rem;
    span {
      display: inline-block;
    }
    &__role,
    &__members {
      margin-left: 1rem;
    }
  }
  .group-card-action-dropdown {
    margin-left: auto;
    font-weight: 400;
    line-height: 0.8rem;
    padding: 0.4rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.375em;
    float: right;
  }

  .group-card-update-status-link {
    margin: 0.4rem 0.1rem !important;
    cursor: pointer;
    display: inline-block;
  }
  .group-action {
    .btn-primary {
      margin-left: auto;
      font-weight: 400;
      line-height: 0.8rem;
      padding: 0.4rem 0.5rem;
      font-size: 0.8rem;
      border-radius: 0.375em;
      float: right;
      &:hover,
      &:active {
        color: var(--color-primary-btn-hover);
        background: var(--bg-primary-btn-hover) !important;
      }
    }
  }
}
