@import '../../styles/abstracts/variables';

.dashboard-page {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}
.group-square-icon {
  text-transform: uppercase;
  &_admin {
    background: rgb(107, 202, 44);
  }
  &_other {
    background: var(--myclasspals-color);
  }
}
.school-group {
  font-size: 0.8rem;
  .school-group-icon {
    color: var(--myclasspals-color);
  }
}
