.create-profile-component-container {
  //background-color: white;
  //background-color: rgba(0, 153, 186, 0.06);

  border: 1px solid rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin-bottom: 8px;
  position: relative;
  .create-profile-component-header {
    border-bottom: 1px #dfe1e4 solid;
    padding: 16px 16px;
    .create-profile-component-title {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'HelveticaNeue',
        'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      padding: 0;
      margin: 0;
    }
  }
  .create-profile-component-content {
    padding: 16px 16px;
    min-height: 400px;

    .actionBtnWrapper {
      margin-bottom: 20px;
      margin-top: 20px;
      float: right;
    }
  }
}
.create-profile-component-content {
  padding: 16px 16px;
  min-height: 400px;
  min-width: 600px;
  margin: auto;
  .actionBtnWrapper {
    margin-bottom: 20px;
    margin-top: 20px;
    float: right;
  }
  .profile-step {
    .ant-steps-item-icon {
      background: var(--bg-primary-btn) !important;
      border-color: transparent;
    }
    .ant-steps-item-icon > .ant-steps-icon {
      color: floralwhite !important;
    }
    .ant-steps-item-title::after {
      background: #f0f0f0 !important;
    }
  }
}
