@import '../../styles/abstracts/variables';

.icon-group {
  color: var(--bg-gradient1);
  padding: 0.5rem;
}
.filter-wrapper {
  .filter-actions {
    font-size: 0.6rem !important;
    margin-left: 350px !important;
    margin-top: -46px !important; //margin-top: -44px;
  }
}
