$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em;
$color-grey-light-2: grey;

$color-secondary: orange;
$color-link: #0073b1;

.message-head {
  width: 200px;

  &-title {
    display: inline-block;
    font-size: 1.07142857rem;
    padding: 10px;
    font-size: 1.07142857rem;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    //font-weight: 500;
    //line-height: 1.28571429em;
    color: black;
  }
  &-icon {
    padding-top: 6px;
    padding-right: 8px;
  }
  &-link {
    color: $color-link;
  }
}

.profiles {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__info {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px;
  }
}
