$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em;
$color-grey-light-2: grey;

$color-secondary: orange;
.empty-container {
  margin-top: 100px !important;
  width: 70%;
  border: 1px solid #f0f0f0;
}

.message-inbox {
  &.ui.menu {
    //border: none !important;
    box-shadow: none !important;
    border-radius: none !important;
  }
  &.ui.vertical.menu {
    box-shadow: none !important;
  }
}

.message-inbox-list {
  height: 100%;
  overflow-y: auto;

  .capitalize {
    text-transform: capitalize;
  }
  .ant-list-items {
    height: 100% !important;
    overflow-y: auto;
    overflow-x: hidden;

    .ant-list-item {
      margin-right: 0;
      border-bottom: 1px solid #f0f0f0 !important;
      border-left: 1px solid #f0f0f0;
      &:first-child {
        border-top: 1px solid #dfe1e4;
      }
      &:last-child {
        border-bottom: 1px solid #dfe1e4;
      }
      &.selected {
        background: none !important;
        border-left: 2px solid var(--primary-color) !important;
      }
    }
  }
  .ant-list-item-meta-content {
    height: 100%;
    padding: 2px 6px;
  }
  .ant-list-item-meta-description {
    font-size: 0.8rem;
  }
  .ant-list-item-meta-avatar {
    margin-right: 10px;
    margin-left: 4px;
  }
}

.message-head {
  &-title {
    display: inline-block;
    font-size: 1.07142857rem;
    padding: 10px;
    font-size: 1.07142857rem;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: var(--color-primary-text);
  }
  &-icon {
    padding-top: 6px;
    padding-right: 8px;
  }
  &-link {
    cursor: pointer;
    color: var(--color-link);
    &:hover {
      color: var(--color-link-hover);
    }
  }
}

.message-chat-history {
  border: 1px solid #dfe1e4;
  margin-left: -15px;
  .ant-form-item {
    margin-bottom: 10px !important;
  }
  .ant-list-item-meta {
    max-width: 15rem;
    min-width: 15rem;
    word-wrap: break-word;
  }

  .ant-list-item-meta-content {
    width: 100%;
    //height: 92px;
    padding: 12px 8px;
    display: table-cell;
    vertical-align: top;
  }
}
