@import '../../styles/abstracts/variables';

.ant-menu-horizontal {
  line-height: 0.938rem !important;
  & > .ant-menu-item > a {
    color: var(--font-color-2) !important;
  }
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: var(--font-color-2) !important;
  border-bottom: 2px solid var(--primary-color) !important;
}
.ant-menu {
  background: transparent !important;
}

.ant-layout-header {
  padding: 0 1.25rem !important;
  height: 2.8rem !important;
  border-bottom: 1px solid #f0f0f0;
  background: #fff !important;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Norther-Lights;
  src: url(../../assets/fonts/Northern-Lights.ttf);
}

.top-menu {
  width: calc(100% - 9.375rem);
  float: left;
  //background: var(--clazzbuddy-color) !important;
  .logo {
    background: url('../../assets/images/klasspalslogo.png') center no-repeat;
    .logo-text {
      display: inline-block;
      font-family: Norther-Lights;
      color: #46bfd1;
      font-weight: bolder;
      font-size: 0.7rem;
    }
  }
  .logo a {
    display: inline-block;

    font-size: 12px;
    font-weight: 400;
    //padding: 2px 20px;
    padding: 0.625rem 0.938rem;

    text-transform: capitalize;
  }
  .ant-menu-item {
    padding: 0px 0.313rem;
    /*    a {
      color: #fff !important;
    } */
  }
  .ant-menu-submenu-title {
    padding: 0.625rem 1.25rem;
    span {
      //color: #fff !important;
      color: var(--font-color-2) !important;
    }
  }
  .ant-menu-item a,
  .ant-menu-submenu-title a {
    padding: 0.625rem 0.938rem;
    font-size: 12px;
    font-weight: 400;
  }
  .ant-menu-horizontal {
    margin-top: 0.1rem;
    border-bottom: none;
  }
}

.ant-drawer-body {
  padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}
.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}
