@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/include-media';

.ant-menu-horizontal {
  line-height: 0.938rem !important;
  & > .ant-menu-item > a {
    color: var(--font-color-2) !important;
  }
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: var(--font-color-2) !important;
  border-bottom: 2px solid var(--primary-color) !important;
}
.ant-menu {
  background: white !important;
  z-index: 100;
}

.ant-layout-header {
  padding: 0 1.25rem !important;
  height: 2.8rem !important;
  border-bottom: 1px solid #f0f0f0;
  background: #fff !important;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Norther-Lights;
  src: url(../../assets/fonts/Northern-Lights.ttf);
}

.top-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  cursor: pointer;
  font-size: 1.55rem;

  // if the screen is going to be greater than 425px and less than or eqaul to 768px
  @include media('<=tablet') {
    //display: block;
    float: left;
  }
  // if the screen is going to be greater than 425px and less than or eqaul to 768px
  @include media('>tablet') {
    display: flex;
  }
  .top-right-menu {
    // if the screen is going to be greater than 425px and less than or eqaul to 768px
    /*   @include media('<=tablet') {
      display: block;
    } */
    // if the screen is going to be greater than 425px and less than or eqaul to 768px
    @include media('>tablet') {
      width: calc(100% - 9.375rem);
      display: flex;
      justify-content: flex-end;
      flex: 0.65;
    }
  }

  .logo {
    font-family: 'Imperia' !important;
    font-weight: normal;

    // if the screen is going to be greater than 425px and less than or eqaul to 768px
    @include media('<=tablet') {
      //display: none;
      float: left;
      font-size: 1.4rem;
      line-height: 2.8rem;
    }
    // if the screen is going to be greater than 425px and less than or eqaul to 768px
    @include media('>tablet') {
      flex: 0.5;
      font-size: 1.55rem;
      margin-left: 3rem;
      line-height: 2.8rem;
      display: inline-block;
    }

    .logo-text-primary {
      color: #1bb0c4 !important;
      &:hover {
        color: #333;
      }
    }
    .logo-text-dark {
      color: #333;
    }
  }
  .drawer-icon {
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
  }
  .ant-menu-item {
    padding: 0px 0.313rem;
    /*    a {
      color: #fff !important;
    } */
  }
  .ant-menu-submenu-title {
    padding: 0.625rem 1.25rem;
    span {
      //color: #fff !important;
      color: var(--font-color-2) !important;
    }
  }
  .ant-menu-item a,
  .ant-menu-submenu-title a {
    padding: 0.625rem 0.938rem;
    font-size: 12px;
    font-weight: 400;
  }
  .ant-menu-horizontal {
    margin-top: 0.1rem;
    border-bottom: none;
  }
}
