@import '../../styles/abstracts/include-media';

.create-profile-wrapper {
  //background-color: white;
  width: 60vw;
  //background: var(--bg-profile);
  background: #fff;

  -webkit-box-shadow: 10px 10px 77px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 77px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 10px 10px 77px 0px rgba(0, 0, 0, 0.13);

  border: 1px solid var(--bg-profile);
  padding: 2rem 4rem;
  min-height: calc(100vh - 20rem);
  margin: 6rem auto;
  // if the breakpoint is less than or equal to 360px
  @include media('<=phone') {
    font-size: 56.25%;
    width: 90%;
  }
  // if the breakpoint is greater than 360px and less than or eqaul to 425px
  @include media('>phone', '<=425px') {
    width: 90%;
  }

  // if the screen is going to be greater than 425px and less than or eqaul to 768px
  @include media('>425px', '<=tablet') {
    width: 70%;
  }

  // if the screen is going to be greater than 768px and less than 1366px
  @include media('>tablet', '<desktop') {
    width: 70%;
  }
  // if the screen is going to be greater than or equal to 1366px
  @include media('>=desktop') {
    width: 60%;
  }

  // if the screen is going to be greater than or equal to 1920px
  @include media('>=LGdesktop', 'retina2x') {
    width: 60%;
  }

  .profile-form-wrapper {
    margin: 1rem 2rem 0;
  }
  .steps-content {
    margin: auto;
    width: 80%;
  }

  .profile-step {
    .ant-steps-item-title {
      padding: 0.625rem !important;
    }
    .ant-steps-item-icon {
      background: var(--bg-primary-btn) !important;
      border-color: transparent;
    }
    .ant-steps-item-icon > .ant-steps-icon {
      color: floralwhite !important;
    }
    .ant-steps-item-title::after {
      background: #f0f0f0 !important;
    }
  }
}
