@import '../../styles/abstracts/mixins';

.create-profile-wrapper {
  //background-color: white;
  width: 60vw;
  //background: var(--bg-profile);
  background: #fff;

  -webkit-box-shadow: 10px 10px 77px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 77px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 10px 10px 77px 0px rgba(0, 0, 0, 0.13);

  border: 1px solid var(--bg-profile);
  padding: 2rem 4rem;
  min-height: calc(100vh - 20rem);
  margin: 6rem auto;
  @include respond(phone) {
    font-size: 56.25%;
    width: 90% !important;
    margin: 80vw 2rem;
  }
  @include respond(tab-port) {
    width: 90%;
    margin: 2rem 2rem;
    width: 80vw !important;
  }
  @include respond(tab-land) {
    font-size: 56.25%;
    width: 60vw !important;
  }
  @include respond(big-desktop) {
    width: 60vw !important;
  }
  .profile-form-wrapper {
    margin: 1rem 2rem 0;
  }
  .steps-content {
    margin: auto;
    width: 80%;
  }

  .profile-step {
    .ant-steps-item-title {
      padding: 0.625rem !important;
    }
    .ant-steps-item-icon {
      background: var(--bg-primary-btn) !important;
      border-color: transparent;
    }
    .ant-steps-item-icon > .ant-steps-icon {
      color: floralwhite !important;
    }
    .ant-steps-item-title::after {
      background: #f0f0f0 !important;
    }
  }
}
