@import '../../styles/abstracts/mixins';

.create-profile-wrapper {
  //background-color: white;
  background: var(--bg-profile);
  border: 1px solid var(--bg-profile);
  margin: 2rem 6rem;
  padding: 2rem;
  min-height: calc(100vh - 20rem);
  @include respond(phone) {
    font-size: 56.25%;
    width: 100%;
    margin: 2rem 2rem;
  }
  @include respond(tab-port) {
    width: 90%;
    margin: 2rem 2rem;
  }
  @include respond(tab-land) {
    font-size: 56.25%;
    width: 50%;
  }
  @include respond(big-desktop) {
    width: 50%;
  }

  .profile-step {
    .ant-steps-item-title {
      padding: 0.625rem !important;
    }
    .ant-steps-item-icon {
      background: var(--bg-primary-btn) !important;
      border-color: transparent;
    }
    .ant-steps-item-icon > .ant-steps-icon {
      color: floralwhite !important;
    }
    .ant-steps-item-title::after {
      background: #f0f0f0 !important;
    }
  }
}
