$mainColor: #fff;

:root {
  /*   --bg-header-gradient1: #64cad9;
  --bg-header-gradient2: #64cad9;
  --color-input-search-button: #64cad9;
  --bg-input-search-button: rgb(243, 250, 253);
  --primary-btn-color: #46bfd1; */

  //original

  --color-input-search-button: #45b3e0;
  --bg-wrapper: rgb(243, 250, 253);
  --bg-main: #f5f6f7;
  --bg-input-search-button: rgb(243, 250, 253);
  --bg-table-header: #fafafa;
  //--bg-post-head: #f5f6f7;
  --bg-post-head: #87ceeb19;
  --main-body-bg-color: #f5f6f7;

  //--bg-leftnav-sidebar: #f3fafd;
  --bg-leftnav-sidebar: #f7f7f7 !important;
  --bg-profile: #f0f2f5;
  --bg-filter-panel: #f7f7f7;
  --bg-header-gradient1: #46bfd1;
  --bg-header-gradient2: #45b3e0;
  --bg-gradient1: #46bfd1;
  --bg-gradient2: #45b3e0;
  --color-header: floralwhite;
  --color-white: floralwhite;
  --color-header-hover: #444;
  --color-primary-text: #444;
  --color-secondary-text: #4a4a4a;
  --color-link: #0073b1;
  --color-link-hover: #45b3e0;

  --color-primary-btn-hover: floralwhite;
  --bg-primary-btn-hover: #45b3e0;
  --bg-primary-btn: #45b3e0;
  --primary-color: #45b3e0;
  --primary-link-color: #45b3e0;
  --secondary-btn-color: #87ceeb;
  --primary-btn-color: #45b3e0;
  --color-active-tab-border: #ea4c89;
  /* 
  --color-input-search-button: #91a8d2;
  --bg-input-search-button: rgb(243, 250, 253);
  --bg-table-header: #fafafa;
  --bg-post-head: #f5f6f7;
  --bg-leftnav-sidebar: #f3fafd;
  --bg-header-gradient1: #91a8d2;
  --bg-header-gradient2: #91a8d2;
  --color-header: floralwhite;
  --color-header-hover: #444;
  --color-primary-btn-hover: #444;
  --bg-primary-btn-hover: #87ceeb;
  --primary-color: #91a8d2;
  --primary-link-color: #45b3e0;
  --secondary-btn-color: #87ceeb;
  --primary-btn-color: #45b3e0; */
  //--primary-color: #e00083;
  --secondary-color: #87ceeb;
  /*--tertiary-color: #ff5a5f;*/
  --tertiary-color: #e00083;
  --light-blue: rgb(243, 250, 253);
  --light-border-grey: #d9d9d9;

  --dark-color: #0892ab;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --white-color: #fff;
  --light-grey-color: #bbb;
  --light-grey-color2: #f5f6f7;
  --large-text-color: #444;
  --large-text-color: #444;
  --font-color-1: floralwhite;
  --font-color-2: #444;
  --font-color-3: #757575;

  //additional
  --bg: #1d1e2a !important;
  /*  main   */
  --bg2: #1a1b26 !important;
  /*  alt   */
  --bg3: #14151f !important;
  /*  header   */
  --first-color: #aaa !important;
  /*  grey - main color  */
  --second-color: #74857c !important;
  /* green - alt text */
  --third-color: #7587a6 !important;
  /* blue - links  */
  --font1: 'Open Sans', 'Segoe UI' !important;
  /* main font */
  --font2: 'Open Sans Semibold', 'Segoe UI' !important;
}

/* // COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem; */
