/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 999999;
  width: 100%;
  top: 0;
  opacity: 0.9;

  .navbar ul {
    display: flex;
  }

  .navbar a {
    color: var(--secondary-color);
    top: 0;
    padding: 0.45rem;
    margin: 0 0.25rem;
  }

  .navbar a:hover {
    color: var(--tertiary-color);
    text-decoration: none;
  }

  .navbar .welcome span {
    margin-right: 0.6rem;
  }

  .ui.menu.top-menu {
    width: 100%;
    height: 56px;
    background: #333;
    color: #fff;
    z-index: 9996;
    border: none; /*Remove Semantic UI's bottom border*/
    .logo {
      width: 17rem;
    }
    .header-icon {
      //color: #a0a0a0;
      color: #484848;
    }
    .nav-container {
      justify-content: space-between; /*maximize whitespace between elements*/
      flex-grow: 1; /* take available space in the flex container */
      padding: 0;
      .search-input {
        padding-left: 0;
        width: 33%;

        form {
          width: 100%;
        }
      }
    }
  }
}
