.ui.segment {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.create-group-btn {
  background: var(--primary-btn-color);
  color: floralwhite;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  &:hover,
  &:active,
  &:focus {
    background: var(--primary-btn-hover-color);
    border: none;
  }
}
.create-group-modal {
  .css-glamorous-button--1hci1v9 {
    top: 5px;
  }
  .action-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }

  .ant-form-item {
    margin-bottom: 10px;
  }
  .ant-form-item-label {
    padding: 0 0 3px !important;
    label {
      height: 10px;
    }
  }

  .create-group-btn,
  .send-invite-btn,
  .send-post-btn {
    background: var(--primary-btn-color);
    color: floralwhite;
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    &:hover,
    &:active,
    &:focus {
      background: var(--primary-btn-hover-color);
      border: none;
    }
  }
  &-field {
    position: relative;
    width: 90%;
    padding: 12px 12px;
    margin: 0 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ui.menu {
    border: none !important;
    box-shadow: none !important;
    border-radius: none !important;
  }
  .ui.vertical.menu {
    box-shadow: none !important;
  }
  &-radio-options-container {
    margin: 0 30px 20px 0px;
    -webkit-animation: fadein 400ms;
    -moz-animation: fadein 400ms;
    -ms-animation: fadein 400ms;
    -o-animation: fadein 400ms;
    animation: fadein 400ms;
    label {
      position: relative;
      display: block;
      cursor: pointer;
      font-weight: normal;
      line-height: 23px;
      margin: 0 0 8px 0;
      transition: color 100ms ease;
      color: rgb(118, 118, 118);
    }
  }
  &-text-input {
    outline: none;
    border: 0;
    padding: 16px 8px;
    width: 80%;
  }
  &-textarea {
    resize: none;
    height: 120px;
    width: 80%;
    padding: 16px 8px;
  }
}
