.profile-component-container {
  background-color: white;
  border-bottom-color: rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin-bottom: 8px;
  position: relative;
  .profile-component-header {
    border-bottom: 1px #dfe1e4 solid;
    padding: 16px 16px;
    .profile-component-title {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'HelveticaNeue',
        'Helvetica Neue', Helvetica, 'Roboto', 'Segoe UI', Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      padding: 0;
      margin: 0;
    }
    .profile-edit-button {
      border: none;
      background: none;
      margin: 0;
      padding: 0;
      margin-top: 2px;
      color: #9;
      float: right;
      outline: none;
    }
  }
  .profile-component-content {
    padding: 16px 16px;
    .profile-content-details {
      display: inline-block;
      margin-right: 12px;
      margin-bottom: 8px;
      background-color: rgba(0, 153, 186, 0.06);
      border-radius: 4px;
      border: 1px #f9f9fa solid;
      color: #0075a1;
      cursor: default;
      padding: 8px 12px;
      .school {
        margin: 0 0 2px 0;
        font-size: 16px;
        font-weight: 500;
      }
      .grade {
        display: inline-block;
        font-size: 12px;
        color: #676e7a;
        margin: 0 0 2px 0;
      }
      .class-room {
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        color: #676e7a;
        padding: 0 0 6px 6px;
      }
      .child-name {
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        color: #676e7a;
        padding: 0 0 6px 6px;
      }
    }
  }
}
