.profile-component-container {
  background-color: white;
  border: 1px #dfe1e4 solid;
  border-bottom-color: rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin-bottom: 8px;
  position: relative;
  .profile-component-header {
    border-bottom: 1px #dfe1e4 solid;
    padding: 16px 16px;
  }
  .profile-edit-button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    color: #0075a1;
    float: right;
    outline: none;
  }
}
